.appbar-name-and-title{
  color: #fff;
  font-size: 16px !important;
  padding-right: 5%;
}

.global-search {
  display: flex;
  justify-content: center;
}

.global-search > div{
  width: 60% !important;
  padding-left: 40%;
}

.home-appbar {
  min-height: 50%;
  width: 100%;
  align-items: center;
  background: rgb(0, 120, 215);
  display: flex;
  justify-content: space-between;
  padding:0 30px 0 20px;
}


.MuiAutocomplete-root .MuiOutlinedInput-root {
  background-color: #fff;
}

.MuiOutlinedInput-root.MuiInputBase-sizeSmall{
  border-radius: 100px;
}

.policy-appbar {
  min-height: 50%;
  width: 100%;
  align-items: center;
  background: rgb(0, 120, 215);
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1%;
}
