.footer {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}

.footer-left {
  width: 12vw;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.footer-right {
  width: 41vw;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.back-btn {
  cursor: pointer;
}

.footer-linked-button {
  width: 30%;
}

.Submit-btn-inactive,
.Save-btn-inactive,
.Back-btn-inactive {
  border-radius: 4px;
  background: #d5d4d4;
  cursor: not-allowed;
  color: #000000;
  height: 25%;
  margin-top: 20px;
  width: 30%;
}

.Submit-btn-active,
.Save-btn-active,
.Cancel-btn-active {
  border-radius: 4px;
  background: rgb(0, 120, 215);
  cursor: pointer;
  color: #ffffff;
  height: 25%;
  margin-top: 20px;
  width: 30%;
}

.Back-btn-active {
  border-radius: 4px;
  background: rgb(0, 120, 215);
  cursor: pointer;
  color: #ffffff;
  height: 25%;
  margin-top: 20px;
}


.Cancel-btn-active{
  border-radius: 4px;
  background: rgb(0, 120, 215);
  cursor: pointer;
  color: #ffffff;
  height: 25%;
  margin-top: 20px;
  width: 100%;
}